.env
*.db
*.sqlite
*.pkl
__pycache__/
venv/
tokens/
api_keys/
logs/
*.gguf
overlay/
.venv/
*.pth
*.lock
*.safetensors
*.bin
7e727c73f2873f6fe0ff10ac7197fc5aa02840
91408cb600e88ea6681c232143a92385a3c3d7
Llama-3.2-3B-Instruct-uncensored-Q5_K_M.gguf
gemma-3-270m-it-F16.gguf
gemma-3-1b-it-q4_0.gguf
libcusparseLt.so.0
libnvshmem_host.so.3
libnccl.so.2
libcurand.so.10
libnvrtc.alt.so.12
libcublas.so.12
libcublasLt.so.12
libcusparse.so.12
libcufft.so.11
libcudnn_adv.so.9
libcudnn_engines_precompiled.so.9
libcudnn_ops.so.9
libcusolver.so.11
libcusolverMg.so.11
libtriton.so
libtorch_cpu.so
libtorch_cuda.so
libtorch_cuda_linalg.so
_polars_runtime_32.abi3.so
libllvmlite.so
libQt6WebEngineCore.so.6
3249fe98bfc62fcbc26067f724716a6ec49d12c4728a2af1df659013905dff21
6180a447f726e4a2ab8b50effaf0a96f5b161489c620087c3b05418f0179f875
llama.cpp/
whisper.cpp/
models/
build/
piper/
docs/html/
docs/latex/
paho.mqtt.cpp